@import './abstracts.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

:root {
  --max-width: 1100px;
  --theme-color: black;
  --theme-text: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $primary !important;
}

/* Create theme here that can be changed, or use scss variables conditionally */
.theme-dark {
  --theme-color: black;
  --theme-text: white;
  background: var(--theme-color);
  color: var(--theme-text);
}

a {
  text-decoration: none !important;
}

h1, h3 {
  background: linear-gradient(130deg, #fff, #a8c8c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary {
  color: $secondary !important;
}



// credit https://medium.com/@manoj10101996/customize-your-input-range-slider-into-gradient-slider-without-any-external-stylesheet-be8d6ec224ce
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 35px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius:10px;
  box-shadow:0px 0px 3px 3px gainsboro;
  background: linear-gradient(to right,$color-wheel-red, $color-wheel-orange, $color-wheel-yellow, $color-wheel-green);
  height: 7.5px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(45deg,$color-wheel-red 0%,$color-wheel-orange 25%,$color-wheel-yellow 51%,$color-wheel-green 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, $color-wheel-red),
    color-stop(25%, $color-wheel-orange),
    color-stop(51%, $color-wheel-yellow),
    color-stop(100%, $color-wheel-green)
  );
  background: -webkit-linear-gradient(
    45deg,
    $color-wheel-red 0%,
    $color-wheel-orange 25%,
    $color-wheel-yellow 51%,
    $color-wheel-green 100%
  );
  background: -o-linear-gradient(
    45deg,
    $color-wheel-red 0%,
    $color-wheel-orange 25%,
    $color-wheel-yellow 51%,
    $color-wheel-green 100%
  );
  background: -ms-linear-gradient(
    45deg,
    $color-wheel-red 0%,
    $color-wheel-orange 25%,
    $color-wheel-yellow 51%,
    $color-wheel-green 100%
  );
  background: linear-gradient(
    45deg,
    $color-wheel-red 0%,
    $color-wheel-orange 25%,
    $color-wheel-yellow 51%,
    $color-wheel-green 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  max-width: 80px;
  position: relative;
  bottom: 7px;
  background-color: white;
  cursor: -webkit-grab;
-webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
