@import './abstracts.scss';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

:root {
  --max-width: 1100px;
  --theme-color: black;
  --theme-text: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: $primary !important;
}

/* Create theme here that can be changed, or use scss variables conditionally */
.theme-dark {
  --theme-color: black;
  --theme-text: white;
  background: var(--theme-color);
  color: var(--theme-text);
}

a {
  text-decoration: none !important;
}

h1, h3 {
  background: linear-gradient(130deg, #ffffffe6, #a8c8c0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secondary {
  color: $secondary !important;
}



// credit https://medium.com/@manoj10101996/customize-your-input-range-slider-into-gradient-slider-without-any-external-stylesheet-be8d6ec224ce
.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 90%;
  margin: auto;
  display: block;
  margin-top: 35px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius:3px;
  box-shadow:0px 0px 3px 3px #72F5E7;
  background: linear-gradient(to right,red, orange, yellow, green, cyan, blue, violet, purple);
  height: 25.5px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: -moz-linear-gradient(45deg,$color-wheel-red 0%,$color-wheel-orange 25%,$color-wheel-yellow 51%,$color-wheel-green 100%);
  background: linear-gradient(45deg, $color-wheel-red 0%, $color-wheel-orange 25%, $color-wheel-yellow 51%, $color-wheel-green 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  @include input-slider-thumb;
  -webkit-appearance: none;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
}
input[type="range"]::-moz-range-thumb {
  @include input-slider-thumb;
  -moz-appearance: none;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
}
