@import '../styles/abstracts.scss';

.heroContainer {
    background-image: url('/hero_background.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    @include flex(column, wrap, center, center);
}

/* Define the animation */
@keyframes scrollBackground {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 100%;
    }
  }
