@import '../styles/abstracts.scss';

.sectionSeparator {
    margin-top: 5rem;
}

.approach {
    width: 100%;
    margin-top: 7rem;
}

.brainContainer {
    height: 60vh;
    width: 95%;
    color: white;
    background: black;
    margin: 0 auto;
    touch-action: none;
}

@keyframes scrollBackground {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 100%;
    }
}

@media screen and (min-width: 460px) {
    .brainContainer {
        height: 50vh;
    }
}

@media screen and (min-width: width("md")){
    .sectionSeparator {
        margin-top: 6rem;
    }
}

@media screen and (min-width: width("lg")) {
    .approach {
        margin-top: 2rem;
    }
    .brainContainer {
        width: 90%;
        height: 80vh;
    }
}

@media screen and (max-height: 500px) {
    .brainContainer {
        height: 100vh;
    }
}