@import '../styles/abstracts.scss';


.essentialCard {
    margin-bottom: -4rem;
}

.sectionSeparator {
    margin-top: 5rem;
}

.approach {
    width: 100%;
    margin-top: 7rem;
}

.brainContainer {
    height: 60vh;
    width: 95%;
    color: white;
    background: black;
    margin: 0 auto;
    touch-action: none;
}

.whiteCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust the size as needed */
    height: 10px; /* Adjust the size as needed */
    background-color: linear-gradient(to bottom, #ffffff, #ffffff00);
    border-radius: 70%;
    z-index: -1; /* Ensures the circle is behind the heading */
  }

@keyframes scrollBackground {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 100%;
    }
  }

@media screen and (min-width: 300px) {
    .essentialCard {
        margin-bottom: -12rem;
    }
}

@media screen and (min-width: 350px) {
    .essentialCard {
        margin-bottom: -5rem;
    }
}

@media screen and (min-width: 460px) {
    .essentialCard {
        margin-bottom: -3rem;
    }
    .brainContainer {
        height: 50vh;
    }
}

@media screen and (min-width: width("md")){
    .sectionSeparator {
        margin-top: 6rem;
    }
}

@media screen and (min-width: width("lg")) {
    .essentialCard {
        margin-bottom: 0;
    }
    .approach {
        margin-top: 2rem;
    }
    .brainContainer {
        width: 90%;
        height: 80vh;
    }
}

@media screen and (max-height: 500px) {
    .brainContainer {
        height: 100vh;
    }
}