@import '../styles/abstracts.scss';


.essentialCard {
    margin-bottom: -4rem;
}

.sectionSeparator {
    margin-top: 5rem;
}

.approach {
    width: 100%;
    margin-top: 7rem;
}

.heroContainer {
    background-image: url('/hero_background.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    @include flex(column, wrap, center, center);
}

.brainContainer {
    height: 50vh;
    width: 100%;
    color: white;
    background: black;
    margin: 0 auto;
}

@keyframes scrollBackground {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: 100%;
    }
  }

@media screen and (min-width: 300px) {
    .essentialCard {
        margin-bottom: -12rem;
    }
}

@media screen and (min-width: 350px) {
    .essentialCard {
        margin-bottom: -5rem;
    }
}

@media screen and (min-width: 460px) {
    .essentialCard {
        margin-bottom: -3rem;
    }
}

@media screen and (min-width: width("md")){
    .sectionSeparator {
        margin-top: 6rem;
    }
}

@media screen and (min-width: width("lg")) {
    .essentialCard {
        margin-bottom: 0;
    }
    .approach {
        margin-top: 2rem;
    }
    .brainContainer {
        width: 90%;
        height: 70vh;
    }
}